tr > td:last-child{
	text-align: center;
}

.datepicker-container{
  z-index: 1200!important;
}

.ui-datepicker{
  z-index:9999!important;
  font-size:12px!important;
}
.ui-autocomplete{
  z-index:9999!important;
  font-size:12px!important;
}

.img-fluid {
    max-width: 55%!important;
    height: auto;
}

.invalid-tooltip, .valid-tooltip {
	position: unset!important;
	margin-top: 0.4em!important;
}

.rowOneFile{
  display: flex;
  flex: 1;
}

.rowTwoFile{
  display: flex;
  flex: 1;
  justify-content: center;
}

#sidenavToggler{
  float: right;
}

.nav-link[data-toggle=modal]{
  display: inline-flex;
  flex: 1;
  align-items: center;
}

.fa-sign-out{
  margin-right: 5px;
}

.flexInit{
  display: inline-flex;
  flex:1
}

.twoCenter{
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 15px;
  height: 24px;
}

.modalVarious{
  cursor: pointer;
  color: #007bff;
}

.modalVarious:hover{
  color: #0056b3;
}

td{
  white-space: pre;
}

td:last-child{
  white-space: unset!important;
}

#iconLoading{
  display: none;
  align-self: center;
  margin-left: 8px;
  color: #16a085;
}

.borderStyle2{
  border-width: 2px 1px 2px 1px;
  border-style: solid;
}

.borderStyle{
  border-width: 0px 1px 0px 1px;
  border-style: solid;
}

.borderColor{
  border-color: #dee2e6;
}